{% comment %}
	Content for the 404 error page.
{% endcomment %}
{% include "1-head.html" %}

<!-- specifc "one-off" styles -->
<style>
	#title-stripe {
		transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-webkit-transform: rotate(-3deg);
		margin-bottom: 5em;
		height: 400px;
	}
	#title-stripe #title {
		text-align: center;
		color: red !important;
		font-size: 4.5em;
		transform: rotate(22deg);
		-ms-transform: rotate(22deg);
		-webkit-transform: rotate(22deg);
	}
</style>

{% include "2-navbar.html" %}
{% include "3-page-header.html" %}

<section id="intro">
	<div class="centered center-block">
		<p class="sub-heroic">
			Sorry, but we can't find the URL you and/or your browser requested.
		</p>
		<p>
			(Well, more accurately, your browser asked for a URL for a page that doesn't exist.)
		</p>
		<p class="sub-heroic">
			Not to worry. There's a menu up there that will make it all better.
		</p>
	</div>
</section>

{% include "5-footer.html" %}
{% include "6-bottom.html" %}
